
.bar-card {
  display: flex;
  // flex-wrap: wrap;
  padding: 5px;
  background: #E9E0D6;

  &:hover {
    background: #C3C3C3;
  }

  .title {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .bar-name {
      padding-top: 5px;
      font-weight: bold;
    }

    .address {
      padding-top: 5px;
      flex: 0 0 100%;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }

  .bar-info-container {
    font-size: 20px;
    text-align: center;
    flex: 0 0 20px;
    margin: 10px 5px;
    border: 2px solid black;
    border-radius: 90px;
  }
}

