.bar-info {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  padding: 5px 10px;

  &.active {
    display: block;
  }

  > * {
    padding-top: 5px;
  }

  .bar-info-name {
    font-weight: bold;
  }

  .close-button {
    font-size: 20px;
  }

  .bar-info-teams-container {
    .bar-info-team-container {
      display: flex;
      .bar-info-team-icon {
        height: 30px;
        padding: 5px;
      }
      .bar-info-team-name {
        margin: auto 0;
        color: black;
        font-weight: bolder;
      }
    }
  }

  @media (min-width: 1024px) {
    width: 40%;
  }
}