.nav-container {
  display: flex;

  .nav-button {
    display: flex;
    padding: 0 5px;
    margin: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    vertical-align: middle;
    height: 30px;
    border-left: 2px solid black;

    &:hover {
      background: #C3C3C3;
    }
  }

  .nav-icon {
    height: 30px;
  }
}