.filter-container {
  display: none;
  padding: 10px;
  font-size: 12px;
  background: #edeef0;
  position: absolute;
  top: 70px;
  left: 20px;
  flex-wrap: wrap;
  border: 5px solid white;
  width: 525px;
  z-index: 2;
  box-shadow: 0px 0px 10px black;

  @media (min-width: 1024px) {
    width: 800px;
    left: 60px;
  }

  @media (max-width: 600px) {
    width: 290px;
    left: 0px;
  }

  &.active {
    display: flex;
  }

  .filter-button {
    flex: 0 25%;
    display: flex;

    &:hover {
      background: #C3C3C3;
    }

    @media (max-width: 600px) {
      flex: 0 20%;
    }
  }
}