.filter-container {
  display: none;
  padding: 10px;
  font-size: 14px;
  background: #918B8B;
  position: absolute;
  top: 70px;
  flex-wrap: wrap;

  &.active {
    display: flex;
  }

  .filter-button {
    flex: 0 25%;
    display: flex;

    &:hover {
      background: #C3C3C3;
    }

    @media (max-width: 600px) {
      flex: 0 20%;
    }
  }
}