@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, .main, .App, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.App {
  font-family: 'Lato', sans-serif; }

header {
  display: flex;
  border-top: 10px solid black;
  width: 100%;
  height: 60px;
  background: #DED3C6; }

.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.label-text, .label-text-mobile {
  padding: 8px; }

.active-team {
  padding: 12px; }

.map-container {
  background: lightblue;
  flex: 0 0 33%;
  order: 1; }

.label-text {
  display: none; }

.filter-icon {
  height: 30px;
  padding: 2px; }

@media (min-width: 1024px) {
  .list-page {
    flex: 1 1 40%;
    order: 1; }
  .map-container {
    flex: 1 1 60%;
    order: 2;
    height: auto; }
  .label-text-mobile {
    display: none; }
  .label-text {
    display: block; }
  .main {
    flex-direction: row;
    flex-wrap: wrap; } }

/* mWeb */
@media (max-width: 600px) {
  .team-icon {
    height: 36px; }
  .label-text, .label-text-mobile {
    display: none; } }

.bar-card {
  display: flex;
  padding: 5px;
  background: #E9E0D6; }
  .bar-card:hover {
    background: #C3C3C3; }
  .bar-card .title {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .bar-card .title .bar-name {
      padding-top: 5px;
      font-weight: bold; }
    .bar-card .title .address {
      padding-top: 5px;
      flex: 0 0 100%;
      text-overflow: ellipsis;
      font-size: 14px; }
  .bar-card .bar-info-container {
    font-size: 20px;
    text-align: center;
    flex: 0 0 20px;
    margin: 10px 5px;
    border: 2px solid black;
    border-radius: 90px; }
    .bar-card .bar-info-container:hover {
      color: white;
      border-color: white; }

.list-page {
  height: calc(67% - 70px);
  order: 2;
  overflow-y: scroll;
  background: #E9E0D6; }
  @media (min-width: 1024px) {
    .list-page {
      flex: 1 1 40%;
      height: calc(100% - 70px);
      order: 1; } }

.nav-container {
  display: flex; }
  .nav-container .nav-button {
    display: flex;
    padding: 0 5px;
    margin: 15px 0;
    font-size: 13px;
    vertical-align: middle;
    height: 30px;
    border-left: 2px solid black; }
    .nav-container .nav-button:hover {
      background: #C3C3C3; }
  .nav-container .nav-icon {
    height: 30px; }

.filter-container {
  display: none;
  padding: 10px;
  font-size: 12px;
  background: #edeef0;
  position: absolute;
  top: 70px;
  left: 20px;
  flex-wrap: wrap;
  border: 5px solid white;
  width: 525px;
  z-index: 2;
  box-shadow: 0px 0px 10px black; }
  @media (min-width: 1024px) {
    .filter-container {
      width: 800px;
      left: 60px; } }
  @media (max-width: 600px) {
    .filter-container {
      width: 290px;
      left: 0px; } }
  .filter-container.active {
    display: flex; }
  .filter-container .filter-button {
    flex: 0 25%;
    display: flex; }
    .filter-container .filter-button:hover {
      background: #C3C3C3; }
    @media (max-width: 600px) {
      .filter-container .filter-button {
        flex: 0 20%; } }

.bar-info {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none; }
  .bar-info.active {
    display: block; }
  .bar-info .bar-info-text {
    padding: 10px;
    display: block; }
    .bar-info .bar-info-text > * {
      padding-top: 5px; }
  .bar-info .bar-info-name {
    font-weight: bold; }
  .bar-info .close-button {
    font-size: 20px; }
  .bar-info .bar-info-teams-container .bar-info-team-container {
    display: flex; }
    .bar-info .bar-info-teams-container .bar-info-team-container .bar-info-team-icon {
      height: 30px;
      padding: 5px; }
    .bar-info .bar-info-teams-container .bar-info-team-container .bar-info-team-name {
      margin: auto 0;
      color: black;
      font-weight: bolder; }
  @media (min-width: 1024px) {
    .bar-info {
      width: 40%; } }
