html, body, .main, .App, #root {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.App {
  font-family: Helvetica; }

header {
  display: flex;
  border-top: 10px solid black;
  width: 100%;
  height: 60px;
  background: #DED3C6; }

.main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.label-text, .label-text-mobile {
  padding: 8px; }

.active-team {
  padding: 12px; }

.map-container {
  background: lightblue;
  flex: 0 0 33%;
  order: 1; }

.label-text {
  display: none; }

.filter-icon {
  height: 30px;
  padding: 2px; }

@media (min-width: 1024px) {
  .list-page {
    flex: 1 1 40%;
    order: 1; }
  .map-container {
    flex: 1 1 60%;
    order: 2;
    height: auto; }
  .label-text-mobile {
    display: none; }
  .label-text {
    display: block; }
  .main {
    flex-direction: row;
    flex-wrap: wrap; } }

/* mWeb */
@media (max-width: 600px) {
  .team-icon {
    height: 36px; }
  .label-text, .label-text-mobile {
    display: none; } }

.bar-card {
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #E9E0D6; }
  .bar-card:hover {
    background: #C3C3C3; }
  .bar-card .title {
    flex: 1 1 auto; }
    .bar-card .title .bar-name {
      font-weight: bold;
      color: #5583C0;
      border-bottom: 2px solid #5583C0; }
    .bar-card .title .address {
      flex: 0 0 100%;
      text-overflow: ellipsis;
      font-size: 16px; }
  .bar-card .bar-info-container {
    font-size: 20px;
    color: #5583C0;
    text-align: center;
    flex: 0 1 auto;
    width: 20px;
    margin: 10px;
    border: 2px solid #5583C0;
    border-radius: 90px; }

.list-page {
  flex: 1 1 100%;
  order: 2;
  overflow-y: scroll;
  background: #E9E0D6; }
  @media (min-width: 1024px) {
    .list-page {
      flex: 1 1 40%;
      order: 1; } }

.nav-container {
  display: flex; }
  .nav-container .nav-button {
    display: flex;
    padding: 0 5px;
    margin: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    vertical-align: middle;
    height: 30px;
    border-left: 2px solid black; }
    .nav-container .nav-button:hover {
      background: #C3C3C3; }
  .nav-container .nav-icon {
    height: 30px; }

.filter-container {
  display: none;
  padding: 10px;
  font-size: 14px;
  background: #918B8B;
  position: absolute;
  top: 70px;
  flex-wrap: wrap; }
  .filter-container.active {
    display: flex; }
  .filter-container .filter-button {
    flex: 0 25%;
    display: flex; }
    .filter-container .filter-button:hover {
      background: #C3C3C3; }
    @media (max-width: 600px) {
      .filter-container .filter-button {
        flex: 0 20%; } }
