.map-container {
  background: lightblue;
  flex: 0 0 33%;
  order: 1;
}

.another-container {
  position: absolute;
  height: 33%;
  width: 100%;
}

@media (min-width: 1024px) {
  .map-container {
    flex: 1 1 60%;
    order: 2;
    height: auto;
  }

  .another-container {
    position: absolute;
    height: calc(100% - 70px);
    width: 60%;
  }
}